.navbar-dark .navbar-nav .nav-link {
  color: #f5f5f5!important;
}
.bg-black {
  background-color: #000000!important;
}
  body {
    margin: 0;
  }
  #uv {
    width: 100vw;
    height: 87vh;
    margin-bottom: 0px;
  }
  .objectInfo {
      margin-top: 84px;
      margin-left: -15px;
      margin-right: -15px;
  }
  .objectInfo p {
    margin-top: 5px;
  }
